
.banner {
	padding: 10px 0;
	width: 100%;
	background-color: #D9D9D9;
	color: #5C413F;
	text-align: center;
	position: relative;
}

.banner h1{
	margin: 0;
	font-size: 80px;
	text-transform: uppercase;
}

.banner h2 {
	font-size: 25px;
	text-transform: uppercase;
	margin: 10px;
}

.right-arrow-wrap, .left-arrow-wrap{
	box-sizing: border-box;
	margin: 10px;
	font-size: 20px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: calc(50% - 30px);
	cursor: pointer;
}

.right-arrow-wrap {
	right: 0;
}

.left-arrow-wrap {
	left: 0;
	flex-direction: row-reverse;
}

.right-arrow-wrap div:nth-child(1), .left-arrow-wrap div:nth-child(1){
	margin: 10px;
}


.right-arrow-wrap div:nth-child(2){
	width: 0; 
  height: 0; 
  border-top:  30px solid transparent;
  border-bottom: 30px solid transparent;
	animation: blink2 1s linear infinite alternate;
}

.left-arrow-wrap div:nth-child(2){
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent; 
	animation: blink 1s linear infinite alternate;
}

@keyframes blink {
	0% {border-right:30px solid #8572d1;}
	100% {border-right:30px solid#73ad89;}
}

@keyframes blink2 {
	0% {border-left:30px solid #8572d1;}
	100% {border-left:30px solid#73ad89;}
}

@media only screen and (max-width: 850px) {
	.banner h1{
		font-size: 40px;
		margin-top: 30px;
	}
	
	.banner h2 {
		font-size: 20px;
		text-transform: uppercase;
		margin: 10px;
	}

	.right-arrow-wrap, .left-arrow-wrap{
		margin: 3px;
		font-size: 15px;
		top: 3px;
	}

	.right-arrow-wrap div:nth-child(2){
		border-top:  15px solid transparent;
		border-bottom: 15px solid transparent;
	}
	
	.left-arrow-wrap div:nth-child(2){
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent; 
	}

}