:root {
	--excel-grey: rgb(200, 200, 200);
	--excel-green: rgb(32, 120, 72);
	--excel-green2: rgb(45, 158, 96);
}

.toolbar {
	background: linear-gradient(var(--excel-green2), var(--excel-green));
	height: 30px;
	line-height: 30px;
	color: white;
	padding-left: 10px;
}

.excel {
	color: black;
	width: 100%;
	height: calc(100% - 30px);
	border-collapse: collapse;
}

.excel tr td {
	border-width: 1px;
	border: 1px solid var(--excel-grey);
	text-align: right;
}

.excel tr {
	background-color: white;
}

.excel th {
	background-color: var(--excel-grey);
	border: 1px solid black;
	border-top: none;
	font-weight: normal;
}
