:root {
	--beige: #EDE8DF;
	--grey: #D9D9D9
}

.info-wrap {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	position: relative;
	cursor: url("../images/lasis.png"), auto;
}

.info-wrap h5{
	margin: 5px;
	text-transform: uppercase;
}

.info-wrap h4{
	margin-bottom: 10px;
	text-transform: uppercase;
}

.info-wrap h3{
	text-transform: uppercase;
}


.info-wrap > div {
	padding: 20px;
	box-sizing: border-box;
	background-color: white;
}

.info-wrap > div img{
	width: 300px;
	display: block;
	margin: auto;
	animation: fade-in 3s linear;
}

@keyframes fade-in {
	0%{opacity: 0;}
	100%{opacity: 1;}
}

.info-wrap > div:nth-child(odd) {
	background-color: var(--beige);
}

.info-wrap > div:nth-child(1) {
	padding: 30px;
	padding-top: 20px;
	font-size: 15px;
	line-height: 18px;
	position: relative;
}
@media only screen and (max-width: 1000px) {
	.info-wrap {
		grid-template-columns: 1fr
	}
}

