:root {
	--beige: #EDE8DF;
	--grey: #D9D9D9
}

.other-skills-wrap {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	min-height: calc(100vh - 263px);
}

.other-skills-wrap > div {
	background-color: white;
	overflow: hidden;
}

.other-skills-wrap > div:nth-child(2) {
	background-color: var(--beige);
	cursor: url("../images/lasis.png"), auto;
	padding: 10px;
}

.other-skills-wrap > div:nth-child(odd) {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
}

.puzzle-wrap-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 400px;
}

.other-skills-wrap h3{
	text-transform: uppercase;
}

.other-skills-wrap h4{
	margin-bottom: 10px;
	text-transform: uppercase;
}

.puzzle-wrap {
	position: relative;
	width: 200px;
	height: 200px;
}

.puzzle-wrap img {
	width: 100px;
	position: absolute;
}

.puzzle-wrap img:nth-child(1) {
	animation: top-left 3s linear infinite;
}

.puzzle-wrap img:nth-child(2) {
	transform: rotate(90deg);
	animation: top-right 3s linear infinite;
}

.puzzle-wrap img:nth-child(3) {
	transform: rotate(0deg);
	animation: bottom-left 3s linear infinite;
}

.puzzle-wrap img:nth-child(4) {
	transform: rotate(0);
	animation: bottom-right 3s linear infinite;
}

@keyframes top-left {
	0% {top: 0px; left: 0px; transform: rotate(0deg);}
	25% {top: 0px; left: 20px; transform: rotate(0deg);}
	37.5% {top: 0px; left: 10px; transform: rotate(0deg);}
	50% {top: 0px; left: 0px; transform: rotate(90deg);}
	75% {top: 20px; left: 0px; transform: rotate(90deg);}
	87.5% {top: 10px; left: 0px; transform: rotate(90deg);}
	100% {top: 0px; left: 0px; transform: rotate(0deg);}
}

@keyframes top-right {
	0% {top: 0px; left: 100px;}
	25% {top: 0px; left: 80px;}
	50% {top: 0px; left: 100px;}
	75% {top: 20px; left: 100px;}
	100% {top: 0px; left: 100px;}
}


@keyframes bottom-left {
	0% {top: 100px; left: 0px;}
	25% {top: 100px; left: 20px;}
	50% {top: 100px; left: 0px;}
	75% {top: 80px; left: 0px;}
	100% {top: 100px; left: 0px;}
}

@keyframes bottom-right {
	0% {top: 100px; left: 100px; transform: rotate(90deg);}
	25% {top: 100px; left: 80px; transform: rotate(90deg);}
	37.5% {top: 100px; left: 90px; transform: rotate(90deg);}
	50% {top: 100px; left: 100px; transform: rotate(0deg);}
	75% {top: 80px; left: 100px; transform: rotate(0deg);}
	87.5% {top: 90px; left: 100px; transform: rotate(0deg);}
	100% {top: 100px; left: 100px; transform: rotate(90deg);}
}

@media only screen and (max-width: 1000px) {
	.other-skills-wrap {
		grid-template-columns: 1fr;
		grid-template-rows: min-content 1fr min-content;
	}

	.other-skills-wrap > div:nth-child(odd) {
		height: 190px;
	}

	.puzzle-wrap-wrap {
		max-width: max-content;
		height: 190px;
	}
}



