:root {
	--beige: #EDE8DF;
	--grey: #D9D9D9
}

.portfolio-list {
	width: 100%;
	margin: 1% auto;
	border-collapse: collapse;
}

.portfolio-info {
	text-align: center;
	width: 98%;
	margin: auto;
	margin-top: 40px;
	font-weight: bold;
}

.portfolio-list tbody{
	display: flex;
	flex-direction: column;
}

.portfolio-list ul{
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.portfolio-list tr {
	display: grid;
	grid-template-columns: 3fr 4fr 5fr;
	position: relative;
}

.portfolio-list tr:nth-child(odd) {
	animation: move-right 1s linear;
	background-color: var(--grey);
}

.portfolio-list tr:nth-child(even) {
	background-color: var(--beige);
	animation: move-left 1s linear;
}

@keyframes move-left {
	0%{left: -100%;}
	100%{left: 0;}
}

@keyframes move-right {
	0%{left: 100%;}
	100%{left: 0;}
}

.portfolio-list tr:nth-child(1) {
	background-color: #5C413F;
	color: var(--beige);
}

.portfolio-list td, .portfolio-list th{
	text-align: left;
	padding-left: 20px;
	font-size: 18px;
}

.portfolio-list td{
	display: flex;
	align-items: center;
	font-weight: 500;
}

.portfolio-list th{
	padding: 10px 20px;
}
.portfolio-list td a{
	text-decoration: none;
	border-radius: 3em;
	color: black;
	background-color: white;
	font-size: 16px;
	margin: 2px 5px;
	padding: 5px 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	font-weight: bold;
}

.portfolio-list td ul li:first-child a{ 
	background-color: rgb(18, 155, 109);
	color: white;
}


.portfolio-list td a img{
	height: 20px;
	display: inline-block;
	margin: 0 2px;
}

.portfolio-list td a p{
	height: 20px;
	line-height: 20px;
	margin: 0 2px;
	display: inline-block;
}

@media only screen and (max-width: 600px) {
	.portfolio-list td, .portfolio-list th{
		padding-left: 5px;
		font-size: 14px;
	}
 }

