:root {
	--navbar-bg-color: #D9D9D9;
	--navbar-color: #5C413F;
}


.nav{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color:	var(--navbar-bg-color);
	height: 40px;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.nav a {
  color: var(--navbar-color);
  text-align: center;
	text-decoration: none;
	font-size: 15px;
	margin: 0px 20px;
	cursor: pointer;
	font-weight: bolder;
}

.nav a:hover {
	padding-top: 3px;
	border-bottom: 3px solid var(--navbar-color);
}